body {
  margin: 0;
}

header {
  grid-row: 1;
  grid-column: 1 / 4;
}

nav {
  grid-row: 2 / 4;
}

main {
  grid-row: 2 / 4;
}

.ad {
  grid-row: 2;
  grid-column: 3;
}

footer {
  grid-column: 1 / 4;
}

.grid-container {
  display: grid;
  grid-template-rows: 20% 20% 40% 20%;
  grid-template-columns: 20% 60% 20%;
  min-height: 100vh;
}

@media screen and (max-width: 900px) {
  .grid-container {
    grid-template-rows: 20px 20px 20px 20px 20px 20px;
    grid-template-columns: 100%;
  }

  nav {
    grid-column: 1;
    grid-row: 2;
  }

  main {
    grid-row: 3;
  }

  .side {
    grid-row: 4;
  }

  .ad {
    grid-row: 5;
    grid-column: 1;
  }
}
